*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
body{
    background-color: rgb(59, 99, 230);
    color: rgba(224, 224, 224, .9);
}

/* Below is information for the header and the navbar */

header{
    background-color: rgba(34, 33, 33, 0.95);
    color:rgba(224, 224, 224, .9);
    display: block;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 25%;
    height: 100%;
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

#profilePicDiv{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#profilePic {
    border: 8px solid rgba(224, 224, 224, .9);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 90% 15%;
}

nav ul{
    padding: 0;
    margin: 0;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    display:flexbox;
    text-align: center;
}
nav ul li{
    margin: 10px;
    text-align: center;
}

li, li a{
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
    color: rgba(59, 99, 230, 1);
    line-height: 50px;
    padding: 10px 20px;
}

nav li a:hover{
    background-color: rgba(59, 99, 230, 1);
    color: rgba(224, 224, 224, .9);
    border-radius: 10px;
 
}

header p{
    font-size: 1.2em;
}

/* Below I start styling the main part of the page below the header and navbar */
main{
    margin: 20px 0 10px 25%;
    padding: 0 20px;
    text-align: center;
}
section{
    padding: 20px 0;
}

h2, h3{
    text-transform: uppercase;
    text-decoration: underline;
}

h1, h2, h3{
    padding: 0 0 20px 0;
}

table{
    background-color:rgba(224, 224, 224, .9);
    color:rgb(59, 99, 230);
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgba(224, 224, 224, .9);
    width: 75%;
    margin: 0 auto;
}

td{
    border: 1px solid rgb(59, 99, 230);
}

#techTable{
    margin: 0 auto;
    background-color: black;
    color: rgb(79, 238, 79);
    font-family: monospace, sans-serif;
}





form{
    display: flex;
}


@media screen and (max-width: 700px) {
/* make it mobile friendly */
}

    
